.sections-container {
    position: relative;

    width: 100%;
    height: 100%;

    border: 2px solid darkgray;
    border-radius: 8px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: white;
}
